@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

@media only screen and (max-device-width: 900px) {
  .principal {
  flex-wrap: wrap;
  align-items: center;
  }
  .principal-botao {
    display: block;
    margin: 20px auto;
    justify-content: space-around;
    
  }
  .imagem-principal {
    justify-content: space-around;
    padding-top: 18px;
  }
  .principal-text {
    display: block;
    align-items: center;
  }
  .segundo-texto {
    display: block;
    align-items: center;
    justify-content: space-around;
    margin: 25px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-size: 100%;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding:  20px;
}
.cabecalho-img {
  height: 72px;
}
.menu {
  display: flex;
  gap: 32px;
}
.menu-item {
  font-family: Helvetica;
  color: #FFF2E7;
  font-weight: 400;
  font-size: 18px;
}
.conteudo {
  margin-bottom: 45px;
  border-top: 0.4px solid #FFF2E7;
}
.principal {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.principal-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.principal-titulo {
 font-family: 'Noto Serif', serif;
 font-weight: 400;
 font-size: 64px;
 color: #1C1C1C;
}
.principal-subtitulo {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 24px;
  color: #D3D3D3;
}
.principal-botao {
  background-color: #FF6347;
  width: 180px;
  height: 60px;
  border: none;
  border-radius: 20px;
  box-shadow: 4px 5px 4px rgb(0,0,0,0,25);
  font-family: Helvetica;
  font-weight: 400;
  font-size: 24px;
  color: #F5FFFA;
}
.imagem-principal {
  height: 200px;
  
}
.segundo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 48px;
}
.segundo-titulo {
  border-top: 0.4px solid #FFF2E7;
  padding-top: 48px;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 24px;
  color: #F5FFFA;
  margin-bottom: 16px;
}
.segundo-texto {
  font-family: Helvetica;
  font-weight: 300;
  font-size: 18px;
  color: #F5FFFA;
}
.rodape {
  padding: 32px;
  border-top: 0.4px solid #FFF2E7;
}
.rodape-img {
  height: 150px ;
  display: block;
  margin: 0 auto;
}